.Header {
  padding: 12px;
  height: 70px;
  width: 100%;
  display: flex;
  background-color: var(--color-transparent);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.33);
}
.Header .Header-nav {
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
}
.Header .Header-nav a {
  padding: 0 10px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  border-left: solid 2px var(--color-black);
}
.Header .Header-nav a.active {
  color: var(--color-purple);
  border-bottom: solid 1px var(--color-purple);
}
.Header .Header-nav .icon {
  margin-right: 5px;
}
.Header .Header-nav a.active .icon {
  fill: var(--color-purple);
}
.Header .Header-user {
  width: 50px;
  height: 100%;
  border-radius: 50%;
  margin-left: auto;
  background-color: var(--color-white);
}
.Searchbar {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  margin: 0 10px;
  border: none;
  background-color: rgba(35, 31, 36, 0.2);
  border: solid 1px var(--color-black);
}
.Searchbar::placeholder {
  color: var(--color-white);
  opacity: 0.5;
}

@media only screen and (max-width: 1023px) {
  .Header .Header-nav {
    display: none;
  }
}
