.Sidebar {
  width: 100%;
  max-width: 300px;
  min-height: 100%;
  background-color: var(--color-transparent);
  backdrop-filter: blur(8px);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.33);
}
.Sidebar-container {
  padding: 12px;
}

@media only screen and (max-width: 1023px) {
  .Sidebar {
    width: 0%;
  }
}
